:root {
    --font: "Urbanist", sans-serif;
    --primary-color: #B58DB6;
    --light-color: #F4F4ED;
    --dark-color: #201E1E;
    --secondary-color: #B7B8BE;
    --extra-color: #403F3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-weight: 400;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

header {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: var(--primary-color);
    padding: 25px;
}

#logo {
    width: 130px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
    padding-bottom: 40px;
}

#page-title {
    font-size: 2.8rem;
    margin-bottom: 8px;
}

#page-subtitle {
    font-size: 1.2rem;
}

#menu {
    font-size: 2.2rem;
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 15px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "✕";
}

ul.navbar li a {
    display: block;
    padding: 15px;
    color: var(--light-color);
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--primary-color);
}

ul.navbar {
    list-style-type: none;
}

.navbar a.active {
    border-bottom: 3px solid var(--primary-color);
    font-weight: bold;
}

nav {
    background-color: var(--dark-color);
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    font-size: 1.2rem;
    margin-bottom: 90px;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

main {
    margin: 2rem;
}

.layout-select {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.layout-select button {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
    margin: 0 20px 30px;
}

.layout-select button:hover,
.layout-select button:focus {
    background-color: var(--dark-color);
    color: var(--primary-color);
}

#cards.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

#cards.list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.member-card.list:nth-child(even) {
    background-color: var(--secondary-color);
}

.member-card.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid var(--extra-color);
    width: 100%;
}

.member-card.list h2,
.member-card.list p,
.member-card.list a {
    flex: 2;
    margin: 0;
    font-size: 1.1rem;
    word-break: break-word;
    min-width: 120px;
}

.member-card.list a {
    flex: 3;
    text-align: right;
}

.member-card img {
    height: auto;
    max-width: 160px;
    padding: 10px;
}

.member-card {
    margin: 0.25rem;
    padding: 1rem;
    box-shadow: 0 2px 4px var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-card h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.member-card p {
    padding: 4px;
}

.bold-span {
    font-weight: bold;
}

footer {
    background-color: var(--primary-color);
    color: var(--dark-color);
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 1.2rem;
}

footer p {
    padding: 3px;
}

.socials img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    gap: 30px;
}

.socials a {
    text-decoration: none;
}